<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <title>
        {{ if .IsHome }}
          {{ .Site.Params.sal }} {{ .Site.Params.surname }}
        {{ else if eq .URL "/wife-joanne/"}}
          {{ .Site.Params.jo }} {{ .Site.Params.surname }}
        {{ else if eq .URL "/about/"}}
          About {{ .Site.Params.sal }} {{ .Site.Params.surname }}
        {{ else }}
          {{ .Title }}
        {{ end }}
      </title>

      <meta name="author" content="{{ .Site.Params.Author}}">
      <meta name='description' content='
      {{ if .IsHome }}
        {{ .Site.Params.metaDescription }}
      {{ else if eq .URL "/wife-joanne/"}}
        {{ .Site.Params.metaDescriptionJo }}
      {{ else if eq .URL "/about/"}}
        {{ .Site.Params.metaDescriptionAbout }}
      {{ else if or (eq .URL "/photos/") (eq .URL "/videos/")}}
        Official {{ .Title }}
      {{ else }}
        {{ .Title }}
      {{ end }}
      '>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Open Graph -->
      <meta property="og:type" content="business.business">
      <meta property="og:title" content="">
      <meta property="og:url" content="/">
      <meta property="og:image" content="/og-image.jpg">
      <!-- third-generation iPad with high-resolution Retina display: -->
      <!-- Favicons -->
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="/manifest.json">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff4400">
      <meta name="theme-color" content="#fff">

      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
      <!-- iPhone with high-resolution Retina display: -->
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
      <!-- first- and second-generation iPad: -->
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
      <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
      <link rel="apple-touch-icon-precomposed" href="favicon-57.png">
      <!-- basic favicon -->
      <link rel="shortcut icon" href="favicon-32.png">
      <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
      <!--link rel="stylesheet" href="/css/main.css"/-->

      {{ if eq .URL "/videos/"}}
        <!-- Plyr -->
        <!--link rel="stylesheet" href="/plyr/plyr.css"-->
        <link rel="stylesheet" href="https://cdn.plyr.io/2.0.13/plyr.css">
        <!--link rel="stylesheet" href="../plyr/demo.css"-->
      {{ end }}

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700|Merriweather:300,300i%7CMaterial+Icons|Karla:400,400i,700,700i|Lora:700|Poppins:300|Playfair+Display" rel="stylesheet">
      <style media="screen">
      body {margin: 0;}
      .brand {
          font-family: "Playfair Display", "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      blockquote {-webkit-margin-end: 0px;}
      </style>
    </head>
  <body class="{{ with .IsHome }}home {{ end }}{{ with .IsPage }}page {{ end }}js-player brand pv0 ph4 ph6-ns bg-white near-black sans-serif">
  <!--{{ partial "env" . }}-->