<article class="relative vh-100 w-100 dt">

  <div class="dtc v-top w-100">
    <div class="tc">
      <div class="center mb3 mt5">
        <img src="/{{ .Site.Params.imgsrc }}/{{ .Site.Params.salphoto }}.jpg"
        alt="{{ .Site.Params.sal }} {{ .Site.Params.surname }} characture">
      </div>
      <p class="f3">I am grateful.  I am thankful.</p>
      <div class="dib">
        <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">—Salvatore Malatesta</small>
      </div>
    </div>
  </div>

  <!--div class="absolute bottom-0 left-0 w-100">
    <div class="tc">
        <h4><a href="">Continue</a></h4>
    </div>
  </div-->

  {{ partial "menu" . }}

</article>