<article class="relative vh-100 w-100 dt">

  <div class="absolute top-1 left-0 w-100">
    <div class="tc">
      <f1 class="f1">Salvatore Malatesta</f1>
    </div>
  </div>


  <div class="absolute top-1 right-0">
      <div class="v-top f1">
        <a href="https://twitter.com/STOQE" target="_blank" class="dib link black-20 hover-orange">
          <svg class="db w2 h2" data-icon="twitter" viewBox="0 0 32 32"
            fill="currentColor" >
            <title >twitter icon</title>
            <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"
            ></path>
          </svg>
        </a>
      </div>
  </div>

  <div class="dtc v-mid w-100">
    <div class="tc">
      <div class="center mb3">
        <img src="img/salvatore-malatesta.jpg" alt="Salvatore Malatesta photo">
      </div>
      <p class="f3">I am grateful.  I am thankful.</p>
    </div>
  </div>

  <div class="absolute bottom-0 left-0 w-100">
    <div class="tc">
        <h4><a href="">Continue</a></h4>
    </div>
  </div>

</article>