<article class="w-100 z-max">
  <div class="w-100 pv3 bt b--light-gray">
    <div class="db dt-ns center w-100">
      <div class="db dtc-ns v-top-ns v-mid tl w-40-ns">
        <a href="/" class="dib f5 f4-ns fw6 mt0 mb1 link black-70" title="Home">
          <img class="v-mid mr2" src="../{{ .Site.Params.imgsrc }}/{{ .Site.Params.salphoto }}-sm.jpg"
             alt="{{ .Site.Params.sal }} {{ .Site.Params.surname }} characture"> <span class="">Salvatore Malatesta</span>
          <!--div class="dib">
            <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">aka: Sal</small>
          </div-->
        </a>
      </div>
      {{ partial "nav" . }}
    </div>
  </div>
  <div class="w-100 pv3 bt b--light-gray">
    <div class="dib w-100 tl">
      <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">Website by <a class="link hover-orange" href="https://www.stoqe.com" target="_blank">STOQE</a></small>
    </div>
  </div>
</article>