<nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
  <a title="" href="/about/" class="f6 fw6 hover-blue link black-70 ml2 ml3-m ml4-l dib">
    About
  </a>
  <a title="" href="/photos/" class="f6 fw6 hover-blue link black-70 ml2 ml3-m ml4-l dib">
    Photos
  </a>
  <a title="" href="/videos/" class="f6 fw6 hover-blue link black-70 ml2 ml3-m ml4-l dib">
    Videos
  </a>
  <a title="" href="/social/" class="f6 fw6 hover-blue link black-70 ml2 ml3-m ml4-l dib">
    Social
  </a>
  <a title="" href="/family/" class="f6 fw6 hover-blue link black-70 ml2 ml3-m ml4-l dib">
    Family
  </a>
  <a title="" href="/wife-joanne/" class="f6 fw6 hover-blue link black-70 ml2 ml3-m ml4-l dib">
    Wife
  </a>
</nav>