<div class="cf">
  <div class="fl w-100 w-50-l pr2-l pb3">
    <img class="db w-100" src="../{{ .Site.Params.Imgsrc }}/{{ .Params.photo1 }}.jpg" alt="">
  </div>
  <div class="fl w-100 w-50-l pr1 pr0-l pl2-l pb3">
    <img class="db w-100" src="../{{ .Site.Params.Imgsrc }}/{{ .Params.photo2 }}.jpg" alt="">
  </div>
  <div class="fl w-100 w-50-l pr2-l pb3">
    <img class="db w-100" src="../{{ .Site.Params.Imgsrc }}/{{ .Params.photo3 }}.jpg" alt="">
  </div>
  <div class="fl w-100 w-50-l pr1 pr0-l pl2-l pb3">
    <img class="db w-100" src="../{{ .Site.Params.Imgsrc }}/{{ .Params.photo4 }}.jpg" alt="">
  </div>
  <div class="fl w-100 w-50-l pr2-l pb3">
    <img class="db w-100" src="../{{ .Site.Params.Imgsrc }}/{{ .Params.photo5 }}.jpg" alt="">
  </div>
  <div class="fl w-100 w-50-l pr1 pr0-l pl2-l pb3">
    <img class="db w-100" src="../{{ .Site.Params.Imgsrc }}/{{ .Params.photo6 }}.jpg" alt="">
  </div>
</div>