<div class="tl">
    <article class="vh-100 dt">
      <div class="dtc v-mid">
        <section class="">
            <div class="f3 f1-ns mb2">STOQE saves brands time and money.</div>
            <div class="f4 black-30">STOQE saves big and small brands lots of time and lots of money.</div>
        </section>
      </div>
    </article>

    <article class="vh-100 dt">
      <div class="dtc v-mid">
        <section class="">
            <div class="f3 f1-ns mb2">STOQE reviews websites.</div>
            <div class="f4 black-30 measure-wide lh-copy">How effective is your website? Does it work for visitors and Google? Is it industry standards? A STOQE Performance Report delivers objective facts and improvement points in easy-to-understand language.</div>
        </section>
      </div>
    </article>

    <article class="vh-100 dt">
      <div class="dtc v-mid">
        <section class="">
            <div class="f3 f1-ns mb2">STOQE improves websites.</div>
            <div class="f4 black-30 measure-wide lh-copy">Improvements are easy — you just have to care. STOQE can make your website faster, safer, cheaper, cleaner, easier to use, easier to find, easier to update, more popular, more profitable, more modern, and much more.</div>
        </section>
      </div>
    </article>

    <article class="vh-100 dt">
      <div class="dtc v-mid">
        <section class="">
            <div class="f3 f1-ns mb2">STOQE builds websites.</div>
            <div class="f4 black-30 measure-wide lh-copy">Need a website? Want it to be easy, clean, modern, mobile-friendly, and high-performing? Don't want to deal with agency costs, retainers, and attitudes? Welcome to STOQE...</div>
        </section>
        <!--section class="relative mt4 mt5-ns tl tc-ns">
          <div class="cf">
            <div class="fl w-50 w-25-ns pl0 pa4 pv3-ns pl0-ns">
              <img alt="Image" src="img/cloudflare.png" class="mw4-ns">
            </div>
            <div class="fl w-50 w-25-ns pl0 pa4 pv3-ns pl0-ns">
              <img alt="Image" src="img/github.png" class="mw4-ns">
            </div>
            <div class="fl w-50 w-25-ns pl0 pa4 pv3-ns pl0-ns">
              <img alt="Image" src="img/shopify.png" class="mw4-ns">
            </div>
            <div class="fl w-50 w-25-ns pl0 pa4 pv3-ns pl0-ns">
              <img alt="Image" src="img/wordpress.png" class="mw4-ns">
            </div>
          </div>
          <div class="cf">
            <div class="fl w-50 w-25-ns pl0 pa4 pv3-ns pl0-ns">
              <img alt="Image" src="img/ghost-pro.png" class="mw4-ns">
            </div>
            <div class="fl w-50 w-25-ns pl0 pa4 pv3-ns pl0-ns">
              <img alt="Image" src="img/digitalocean-logo.png" class="mw4-ns">
            </div>
            <div class="fl w-50 w-25-ns pl0 pa4 pv3-ns pl0-ns">
              <img alt="Image" src="img/discourse.png" class="mw4-ns">
            </div>
            <div class="fl w-50 w-25-ns pl0 pa4 pv3-ns pl0-ns">
              <img alt="Image" src="img/gsuite.png" class="mw4-ns">
            </div>
          </div>
        </section-->
    </article>

    <article class="vh-100 dt">
      <div class="dtc v-mid">
        <section class="">
            <div class="f3 f1-ns mb2">STOQE writes more in less.</div>
            <div class="f4 black-30">Need a creative brand name, tagline, slogan, or ad? STOQE writes more in less.</div>
        </section>
      </div>
    </article>

    <article class="vh-100 dt">
      <div class="dtc v-mid">
        <section class="">
            <div class="f3 f1-ns mb2">STOQE presents brands (in Australia).</div>
            <div class="f4 black-30 measure-wide lh-copy">Are you an International brand looking for a presence and a point-of-contact in Australia? STOQE represents international brands in Australia with dedicated Australian websites, customer support, local stock, and national delivery.</div>
        </section>
      </div>
    </article>
</div>