<div class="cf">

    <div data-type="youtube" data-video-id="iVfvo16hXvQ">
        <div class="plyr__cite plyr__cite--youtube"><small><a href="https://www.youtube.com/watch?v=UVpQcT33U9o" target="_blank"></a>Salvatore Malatesta on <span class="color--youtube"><svg class="icon"><use xlink:href="#icon-youtube"/></svg>YouTube</span></small></div>
        <div class="actions">
            <button type="button" class="btn js-play">Play</button>
            <button type="button" class="btn js-pause">Pause</button>
            <button type="button" class="btn js-stop">Stop</button>
            <button type="button" class="btn js-rewind">Rewind</button>
            <button type="button" class="btn js-forward">Forward</button>
          </div>
    </div>

    <hr class="mv5 b--black-10">

    <div data-type="youtube" data-video-id="a_4pWXuI3Jc">
      <div class="plyr__cite plyr__cite--youtube"><small><a href="https://www.youtube.com/watch?v=UVpQcT33U9o" target="_blank"></a>Salvatore Malatesta on <span class="color--youtube"><svg class="icon"><use xlink:href="#icon-youtube"/></svg>YouTube</span></small></div>
      <div class="actions">
          <button type="button" class="btn js-play">Play</button>
          <button type="button" class="btn js-pause">Pause</button>
          <button type="button" class="btn js-stop">Stop</button>
          <button type="button" class="btn js-rewind">Rewind</button>
          <button type="button" class="btn js-forward">Forward</button>
        </div>
    </div>

    <hr class="mv5 b--black-10">

  <div data-type="youtube" data-video-id="UVpQcT33U9o">
      <div class="plyr__cite plyr__cite--youtube"><small><a href="https://www.youtube.com/watch?v=UVpQcT33U9o" target="_blank"></a>Salvatore Malatesta on <span class="color--youtube"><svg class="icon"><use xlink:href="#icon-youtube"/></svg>YouTube</span></small></div>
      <div class="actions">
          <button type="button" class="btn js-play">Play</button>
          <button type="button" class="btn js-pause">Pause</button>
          <button type="button" class="btn js-stop">Stop</button>
          <button type="button" class="btn js-rewind">Rewind</button>
          <button type="button" class="btn js-forward">Forward</button>
        </div>
    </div>

    <hr class="mv5 b--black-10">

  <div data-type="youtube" data-video-id="o7dYtOB1Y3E">
      <div class="plyr__cite plyr__cite--youtube"><small><a href="https://www.youtube.com/watch?v=o7dYtOB1Y3E" target="_blank"></a>Salvatore Malatesta on <span class="color--youtube"><svg class="icon"><use xlink:href="#icon-youtube"/></svg>YouTube</span></small></div>
      <div class="actions">
          <button type="button" class="btn js-play">Play</button>
          <button type="button" class="btn js-pause">Pause</button>
          <button type="button" class="btn js-stop">Stop</button>
          <button type="button" class="btn js-rewind">Rewind</button>
          <button type="button" class="btn js-forward">Forward</button>
        </div>
    </div>

    <hr class="mv5 b--black-10">

    <div data-type="youtube" data-video-id="H7wBH27puek">
      <div class="actions">
          <button type="button" class="btn js-play">Play</button>
          <button type="button" class="btn js-pause">Pause</button>
          <button type="button" class="btn js-stop">Stop</button>
          <button type="button" class="btn js-rewind">Rewind</button>
          <button type="button" class="btn js-forward">Forward</button>
        </div>
    </div>

  <hr class="mv5 b--black-10">

  <div data-type="youtube" data-video-id="Zt9ipFApDMM">
    <div class="actions">
        <button type="button" class="btn js-play">Play</button>
        <button type="button" class="btn js-pause">Pause</button>
        <button type="button" class="btn js-stop">Stop</button>
        <button type="button" class="btn js-rewind">Rewind</button>
        <button type="button" class="btn js-forward">Forward</button>
      </div>
  </div>

  <hr class="mv5 b--black-10">

  <div data-type="youtube" data-video-id="7NAajs1D9Ik">
    <div class="actions">
        <button type="button" class="btn js-play">Play</button>
        <button type="button" class="btn js-pause">Pause</button>
        <button type="button" class="btn js-stop">Stop</button>
        <button type="button" class="btn js-rewind">Rewind</button>
        <button type="button" class="btn js-forward">Forward</button>
      </div>
  </div>

  <hr class="mv5 b--black-10">

  <div data-type="youtube" data-video-id="l1rPHqMMnWg">
    <div class="actions">
        <button type="button" class="btn js-play">Play</button>
        <button type="button" class="btn js-pause">Pause</button>
        <button type="button" class="btn js-stop">Stop</button>
        <button type="button" class="btn js-rewind">Rewind</button>
        <button type="button" class="btn js-forward">Forward</button>
      </div>
  </div>

</div>